[Unit]
Description=cassandra repair scheduler
After=network-online.target

[Service]
User=cagrr
Group=cagrr
ExecStart=/usr/local/bin/cagrr -config=/etc/cagrr/config.yml
TimeoutStopSec=60
StandardOutput=journal
StandardError=journal
Restart=on-failure
LimitMEMLOCK=infinity
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
